<div id="fh5co-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 ">
        <div class="fh5co-footer-widget">
          <p> Designed by Amruta Dhabale @2017 All Rights Reserved.</p>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 ">

        <div class="fh5co-footer-widget">

          <ul class="fh5co-social pull-right">
            <li>
              <a href="http://www.instagram.com/amruta_dhabale"><i class="icon-instagram"></i></a>
            </li>
            <li>
              <a href="http://www.facebook.com/therightclickbyamruta"><i class="icon-facebook"></i></a>
            </li>
            <li>
              <a href="http://www.google.com/dhabaleas10"><i class="icon-google"></i></a>
            </li>
          </ul>
          <div class="fh5co-footer-widget">
          </div>
        </div>
      </div>
    </div>

  </div> <!-- END fh5co-page -->
</div>
