<div id="fh5co-portfolio" data-section="nature">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/clouds.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/thesun.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/lili.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/moon.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/yellow.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/flowery.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/pic_7.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/pic_8.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/pic_9.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/pic_10.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/pic_11.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <div class="img-grid">
          <img src="../src/assets/images/pic_12.jpg" alt="Free HTML5 template by FREEHTML5.co" class="img-responsive">
        </div>
      </div>

    </div>
  </div>
</div>
